@font-face {
    font-family: Norse;
    src: url("font/Norse-Bold.otf");
}

body {
    font-family: arial;
    background-color: #E5E7EB;
    font-size: 25px;
    margin: 0;
}

input {
    padding: 5px 25px;
}

div {
    width: 100%;
}

button {
    padding: 12px 35px;
    margin-left: 3vw;
    margin-top: 15px;
}

.front {
    padding-block: 8vh;
}

.disc {
    padding-inline: 3vw;
}

.inputs {
    display: flex;
    font-size: 15px;
}

.title {
    margin-block: 5px;
}

.form {
    background-color: white;
    padding-inline: 3vw;
    padding-block: 20px;
}

.main {
    display: flex;
    height: 100vh;
}

.logo {
    margin-top: 10vh;
    display: flex;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.288);
    justify-content: center;
    color: white;
    font-family: Norse;
    font-size: 10vh;
    
}

.txt {
    margin: 0;
    padding-block: 2.5vh;
}

.back {
    background-image: url("images/halie-west-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 55vw;
}

.log {
    margin-left: 3vw;
    font-size: 12px;
}